html, body {
  height: 100%;
  width: 100%;
  font-family: "Century Gothic", sans-serif;
}

h2 {
  color: plum;
}

h1 {
  color: palevioletred;
}

h3 {
  color: pink;
}

label {
  font-weight: bold;
  display:inline-block;
  width:138px;
  text-align: center;
  color:cornflowerblue
}

input {
  margin-bottom: 12px;
}

input[type=submit] {
  float:right;
}

form {
  width: 290px;
}